
/* @import url("https://uilight.netlify.app/main.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"); */

:root {
  --text-color-primary: #f9fafb;
  --background-color: #111827;
}

body {
  background-color: var(--background-color);
}

.main {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: 30vw; */
  /* margin-left: 50vw; */
  /* transform: translateX(-50%); */
}

.heading-1 {
  color: var(--text-color-primary);
  text-align: center;
  margin-bottom: 0.5rem;
}
.input {
  border-radius: 4px;
  font-size: 1.25rem;
  padding: 0.5rem;
  border: none;
  width: 25vw;
  margin-bottom: 0.5rem;
}
.input:focus {
  outline: none;
}
.btn-primary {
  font-size: 1.25rem;
  padding: 0.5rem 0.875rem;
}
.todos-container {
  height: 70vh;
  overflow-y: auto;
  width: 35%;
}
.checked-todo {
  text-decoration: line-through;
  color: var(--text-color-primary);
}
.wishCheck{
  height: 2em;
  width: 2em;
  border: none;
}
.wishName{
  font-size: 1.5em;
  margin-left: 0.2em;
  color: #f9fafb;
}

.margin{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1em;
} 
.flex{
  display: flex;
  align-items: center;
}
.margin{
  display: flex;
  align-items: center;
  justify-content: space-between;
} 
.cursor:hover{
  cursor: pointer;
}

@media (max-width: 450px) {
  .todos-container{
    width: 100%;
  }
  .todo-form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .input{
    width: 50%;
  }
  .button{
    margin-left: 2em;
  }
}